@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #161616;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.main_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.main_wrapper__with_padding {
  padding: 12px 24px;
}

.main_wrapper__with_max_width {
  max-width: 1536px;
}

.text-gradient {
  background: linear-gradient(0deg, #1a1a1a 0%, #ffffff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
