---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  .home__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
  }
</style>

<BaseLayout>
  <div class="home__content">
    <h1>Hello, <br /> My name is Fitra</h1>
  </div>
</BaseLayout>
