---
import logo from "../images/logo.svg";
import "../styles/navigation.css";

const menus = [
    {
        name: "Home",
        link: "/",
    },
    {
        name: "About",
        link: "/about",
    },
    {
        name: "Portfolio",
        link: "/portfolio",
    },
    {
        name: "Blog",
        link: "/blog",
    },
];
---

<nav class="navigation">
  <div class="navigation__brand">
    <img class="navigation__brand_logo" src={logo} alt="Logo" />
    DevFitra
  </div>
  <div class="navigation__menu">
    {
      menus.map((menu) => {
        return <a href={menu.link}>{menu.name}</a>;
      })
    }
  </div>
</nav>
<script>
  import "../scripts/menu.js";
</script>
