---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
const {
  withPadding = true,
  withMaxWidth = true,
  className,
  style,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle || "DevFitra"}</title>
  </head>
  <body>
    <Navigation />
    <main
      class={`
      main_wrapper 
      ${withPadding ? "main_wrapper__with_padding" : ""} 
      ${withMaxWidth ? "main_wrapper__with_max_width" : ""}
      ${className || ""}
      `}
      style={style}
    >
      <slot />
    </main>
  </body>
</html>
